/* lobby.css */

.lobby-background {
    -fx-background-color: #e0e0e0;
}

/* Knapper kun inde i lobby-root */
.lobby-background .button {
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-text-fill: blueviolet;
}